<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TinyURL</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="whatCanIDoForYou">
        <h1>Is there something to short, Boss?</h1>
    </div>
    <div class="inputBox">
        <input type="text" required="required">
        <span>Enter long URL</span>
    </div>
    <div class="inputBox">
        <input type="text" required="required">
        <span>This is your short URL</span>
    </div>
    <div class="inputSubmit">
    <input type="submit" value="Generate">
    </div>
</body>
</html>