<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TinyURL</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<header class="p-3 bg-dark text-white fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/static" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a th:href="@{/}" class="nav-link px-2 text-secondary">Home</a></li>
<!--                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>-->
<!--                <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
            </ul>
        </div>
    </div>
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">

            <form id="form1" th:object="${urlDto}" method="post" action="/url-premium/generate">
                <div class="containerURL">
                    <div class="GenerateShortUrl">
                        <h5>Generate a short URL</h5>
                    </div>
                    <br>
                    <div class="inputBox">
                        <input type="text" required="required" th:field="*{longUrl}">
                        <span>Enter long URL</span>
                    </div>
                    <div class="inputSubmit">
                        <input type="submit" value="Generate">
                    </div>
                </div>
            </form>

            <div style="margin-top: 30px;"></div>

                <form id="form2" th:object="${urlDto}" method="post" action="/url-premium/create">
                    <div class="containerURL">
                        <div class="GenerateYourOwnShortUrl">
                            <h5>Generate your own short URL</h5>
                        </div>
                        <br>
                        <div class="inputBox">
                            <input type="text" required="required" th:field="*{longUrl}">
                            <span>Enter long URL</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" required="required" th:field="*{shortUrl}">
                            <span>Proposition your own short URL</span>
                        </div>
                        <div th:if="${errorLongUrl}" class="error-message">
                            <span th:text="${errorLongUrl}"></span>
                        </div>
                        <div th:if="${errorShortUrl}" class="error-message">
                            <span th:text="${errorShortUrl}"></span>
                        </div>
                        <div class="inputSubmit">
                            <input type="submit" value="Generate">
                        </div>
                    </div>
                </form>

            <div style="margin-top: 30px;"></div>

            <form th:object="${urlDto}" method="post" action="/url-premium">
                <div class="containerURL">
                    <div class="inputBox">
                        <label id="shortUrlLabel">Your short URL is:</label>
                        <input type="text" th:field="*{shortUrl}" id="shortUrlInputHidden">
                        <div style="margin-top: 5px;"></div>
                        <button type="button" id="copyButton" class="btn btn-outline-light btn-sm me-2">copy</button>
                        <button type="button" id="clearButton" class="btn btn-outline-light btn-sm me-2">clear</button>
                        <script th:inline="javascript">
                            var shortUrlValue = [[${urlDto.shortUrl}]];

                            if (shortUrlValue === null || shortUrlValue.trim() === '') {
                                shortUrlValue = '';
                            } else {
                                var fullUrl = 'http://localhost:8989/api/v1/urls/' + shortUrlValue;
                                document.getElementById('shortUrlInputHidden').value = fullUrl;
                            }
                        </script>
                        <script th:inline="javascript">
                            var shortUrlValue = [[${urlDto.shortUrl}]];

                            document.addEventListener('DOMContentLoaded', function() {
                                var copyButton = document.getElementById('copyButton');
                                var shortUrlInput = document.getElementById('shortUrlInputHidden');
                                var clearButton = document.getElementById('clearButton');

                                clearButton.addEventListener('click', function() {
                                    var shortUrlInput = document.getElementById('shortUrlInputHidden');
                                    var longUrlInput2 = document.getElementById('form1').querySelector('[name="longUrl"]');
                                    var longUrlInput = document.getElementById('form2').querySelector('[name="longUrl"]');
                                    var shortUrlInput2 = document.getElementById('form2').querySelector('[name="shortUrl"]');

                                    if (shortUrlInput) {
                                        shortUrlInput.value = '';
                                    }
                                    if (longUrlInput2) {
                                        longUrlInput2.value = '';
                                    }
                                    if (longUrlInput) {
                                        longUrlInput.value = '';
                                    }
                                    if (shortUrlInput2) {
                                        shortUrlInput2.value = '';
                                    }
                                });

                                if (shortUrlValue.trim() !== '') {
                                    var fullUrl = 'http://localhost:8989/api/v1/urls/' + shortUrlValue;
                                    shortUrlInput.value = fullUrl;
                                }

                                copyButton.addEventListener('click', function() {
                                    shortUrlInput.select();
                                    document.execCommand('copy');
                                    alert('Short URL copied to clipboard!');
                                });
                            });
                        </script>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-6">
            <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1"
                 role="dialog" id="modalSheet">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header border-bottom-0">
                            <div class="title-and-labels">
                                <h1 class="modal-title fs-5">List of your URLs:</h1>
                            </div>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>URL</th>
                                    <th>short url</th>
                                    <th>Management</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="url : ${allUrls}">
                                    <td th:text="${url.longUrl}"></td>
                                    <td th:text="${url.shortUrl}"></td>
                                    <td class="actions">
                                        <form th:action="@{/url-premium/delete/{id}(id=${url.id})}" method="post">
                                            <div class="inputSubmitDelete">
                                                <input type="submit" value="Delete">
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>